body {
  background-color: white;
  color: rgb(39, 37, 37);
}
/* jumbotron  */
.jumbotron {
  background-image: url("../Background/bg.jpg");
  background-size: cover;
  height: 655px;
  text-align: center;
}
.jumbotron p {
  padding-top: 10px;
  color: red;
}
.jumbotron h1 {
  padding-top: 10px;
  color: black;
  font-size: 30px;
}
.jumbotron img {
  padding-top: 50px;
  margin-top: 150px;
  position: relative;
  border: 2px solid;
  border-top-color: red;
  border-bottom-color: blue;
  border-right-color: greenyellow;
  border-left-color: black;
}
/* akhir jumbotron  */

/* about  */
#about {
  padding-top: 200px;
  text-align: center;
}
#about p {
  margin-top: 20px;
}
#about h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.slide {
  overflow: hidden;
  margin-top: 25px;
  width: 200px;
  height: 250px;
  background-color: rgb(216, 177, 5);
}
.slide figure div {
  width: 20%;
  float: left;
}
.slide figure img {
  width: 100%;
  float: left;
}
.slide figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slidy infinite;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}
/* akhir about  */
/* footer  */
footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
footer {
  background: rgb(216, 177, 5);
  height: auto;
  width: 100vw;
  padding-top: 30px;
  color: black;
  margin-top: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-bottom h6 {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.socials li i {
  color: black;
  margin-right: 20px;
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials li i:hover {
  color: rgb(70, 5, 5);
  transform: translate(3px);
}
.socials a {
  text-decoration: none;
}
/* akhir footer  */
